<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lanhun.domain.mapper.MtoPostsAttributeMapper" >
  <resultMap id="BaseResultMap" type="com.lanhun.domain.model.MtoPostsAttribute" >	
     	  	   	  	
  	<id column="id" property="id" jdbcType="BIGINT" /> 
  	   	   	  	   	
   	   		<result column="video_url" property="videoUrl" jdbcType="VARCHAR"  />
	   	   	   	   		<result column="video_body" property="videoBody" jdbcType="VARCHAR"  />
	   	   	
  </resultMap>
 
  <sql id="Example_Where_Clause">
		<where>
				<foreach collection="oredCriteria" item="criteria" separator="or">
					<if test="criteria.valid">
						<trim prefix="(" suffix=")" prefixOverrides="and">
							<foreach collection="criteria.criteria" item="criterion">
								<choose>
									<when test="criterion.noValue">
										and ${criterion.condition}
									</when>
									<when test="criterion.singleValue">
										and ${criterion.condition}
										#{criterion.value}
									</when>
									<when test="criterion.betweenValue">
										and ${criterion.condition}
										#{criterion.value} and
										#{criterion.secondValue}
									</when>
									<when test="criterion.listValue">
										and ${criterion.condition}
										<foreach collection="criterion.value" item="listItem" open="(" close=")" separator=",">
											#{listItem}
										</foreach>
									</when>
									<when test="criterion.joinValue">
										${criterion.condition}
									</when>
								</choose>
							</foreach>
						</trim>
					</if>
				</foreach>
		</where>
	</sql>
  <sql id="Base_Column_List" >
  		  		  	video_url,
	  	    	  		  	id,
	  	    	  		  	video_body
	  	      </sql>
  
  <select id="selectByExample" resultType="HashMap" parameterType="com.lanhun.domain.example.MtoPostsAttributeExample">
		select
		
		<include refid="Base_Column_List"/>

		from mto_posts_attribute

		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from mto_posts_attribute
    where id =#{${primaryProperty},jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mto_posts_attribute
    where id = #{primaryProperty,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lanhun.domain.model.MtoPostsAttribute" >
    insert into mto_posts_attribute (
    	    		  	video_url,
		  	    	    		  	id,
		  	    	    		  	video_body
	  	          )
    values (
     	        		#{videoUrl,jdbcType=VARCHAR},
    	    	        		#{id,jdbcType=BIGINT},
    	    	        		#{videoBody,jdbcType=VARCHAR}
    	          )
  </insert>
  <insert id="insertSelective" parameterType="com.lanhun.domain.model.MtoPostsAttribute" >
    insert into mto_posts_attribute
    <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="videoUrl != null" >
        video_url,
      </if>
            <if test="id != null" >
        id,
      </if>
            <if test="videoBody != null" >
        video_body,
      </if>
          </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="videoUrl != null" >
        #{videoUrl,jdbcType=VARCHAR},
      </if>
            <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
            <if test="videoBody != null" >
        #{videoBody,jdbcType=VARCHAR},
      </if>
          </trim>
  </insert>
  <select id="countByExample" parameterType="com.lanhun.domain.example.MtoPostsAttributeExample" resultType="java.lang.Integer" >
    select count(*) from mto_posts_attribute
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.lanhun.domain.model.MtoPostsAttribute" >
    update mto_posts_attribute
    <set >
            <if test="videoUrl != null" >
         {video_url = #{videoUrl,jdbcType=VARCHAR},
      </if>
            <if test="id != null" >
         {id = #{id,jdbcType=BIGINT},
      </if>
            <if test="videoBody != null" >
         {video_body = #{videoBody,jdbcType=VARCHAR},
      </if>
          </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
 
  <update id="updateByPrimaryKey" parameterType="com.lanhun.domain.model.MtoPostsAttribute" >
    update mto_posts_attribute
    set 
       	        		video_url = #{videoUrl,jdbcType=VARCHAR},
    	    	        		id = #{id,jdbcType=BIGINT},
    	    	        		video_body = #{videoBody,jdbcType=VARCHAR}
  	  	        where id = #{${primaryProperty},jdbcType=INTEGER}
  </update>
</mapper>